/* frontend/src/index.css  */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  background-image: url("https://www.insbright.com/wp-content/uploads/163/hard-work-motivational-quotes.jpg");
}
.todo-title {
  cursor: pointer;
  font-size: large;
}
.completed-todo {
  text-decoration: line-through;
}
.tab-list > span {
  width: 100%;

  box-shadow: 0 4px #999;
  display: inline-block;
  padding: 8px 15px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4da6ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px #999;
}
.tab-list > span.active {
  background-color: #008000;
  color: #ffffff;
}
.prioLow {
  font-family: verdana;
  background-color: #d9ffcc;
  margin: 2px;
}
.prioMedium {
  background-color: #ffc266;
  font-family: verdana;
  margin: 2px;
}
.prioHigh {
  background-color: #ff8566;
  font-family: verdana;
  margin: 2px;
}

.category-home {
  font-style: italic;
}
.category-work {
  font-weight: bold;
}
